<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Helloworld!</h1>
      <p>あなたも投票しませんか (仮）</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>news タイトル</h2>
        <p>記事</p>
        <p><a class="btn btn-secondary" href="#" role="button">記事一覧を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>news タイトル</h2>
        <p>記事</p>            
        <p><a class="btn btn-secondary" href="#" role="button">記事一覧を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>news タイトル</h2>
        <p>記事</p>             
        <p><a class="btn btn-secondary" href="#" role="button">記事一覧を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>news タイトル</h2>
        <p>記事</p>             
        <p><a class="btn btn-secondary" href="#" role="button">記事一覧を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>news タイトル</h2>
        <p>記事</p>             
        <p><a class="btn btn-secondary" href="#" role="button">記事一覧を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>news タイトル</h2>
        <p>記事</p>             
        <p><a class="btn btn-secondary" href="#" role="button">記事一覧を見る &raquo;</a></p>
      </div>
    </div>
  </div>

</main>
