<div id="header">
    <div class="logo">
        <a href="/">ロゴ</a>
    </div>
    <div class="link">
        <ul id="nav">
            <li>
                <a href="#">Top</a>
            </li>
            <li>
                <a href="#">ニュース一覧</a>
            </li>
            <li>
                <a href="#">ログイン</a>
            </li>
            <li>
                <a href="#">問い合わせ</a>
            </li>
        </ul>
    </div>
</div>