<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar navbar-light bg-light navbar-custom"> 
    <a class="navbar-brand" href=root_path>ロゴ</a> 
      <ul class="nav navbar-nav navbar-right navbar-custom">
        <li><%= link_to "Top",          root_path %></li>
        <li><%= link_to "新規登録",      new_user_path %></li>
        <li><%= link_to "ログイン",      login_path %></li>
      </ul>
  </nav>
</header>