<% provide(:title, '記事詳細') %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="article-container">
          <%= @news_topics.title %>
          <%= @news_topics.content %>
        </div>
      </div>
    </div>
  </div>
