<% provide(:title, '記事詳細') %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="article-title-container">
          <h2><%= @news_topics.title %></h2>
        </div>
        <div class="article-content-container">
          <p><%= @news_topics.content %></P>
        </div>
        <div class="answer-btn">
         <%= render "shared/answer" %>
        </div>      
        <div class="answer-Return-btn">
          <%= link_to "戻る", :back, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

