<% provide(:title, 'ニュース一覧') %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="news-list-container">
        
          <p class="page-title">ニュース 一覧ページ</p>

          <% @news_topics.each do |n| %>
            <p class="news-title"><%= n.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
