@import "bootstrap-sprockets";
 @import "bootstrap";

/*---共通---*/

body {
  color: black;
  background-color: white;
 }
 
 /* header */

 .navbar-inverse {
   background-color: white;
   border-color: black;

 }
 
 #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color:black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

 .navbar-custom {
  background-color: #337ab7;
  color:#fff;
  border-radius:0;
  border-color: #337ab7;
  }
  
 .container {
  margin-right: auto;
  margin-left: auto;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
 }

 /* forms */

 input, textarea, select, .uneditable-input {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 30px;
 }

 input {
  height: auto !important;
}
 