@import "bootstrap-sprockets";
@import "bootstrap";

/*---共通---*/

  body {
  background: #f2f2f2;
  }

 
/* header */

  header {
    background-color:#d4cece;  
  }

  #logo {
   color: black;
   font-size: 3em;
   float: left;
   padding-top: 10px;
  }

  .navbar-nav >
   li > a {
    color: black;
  }

  

/* main */
  img {
    float: right;
  }

  .inner-box {
    border: 3px solid black;
    height: 100%;
  }

  .row-eq-height {
  display: flex;
  flex-wrap: wrap;
  }


/* Users index */






/* debug */

  @mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  }

  .debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  }
